.logo-dispar{
    height: 90px;
    width: 70px;
    left:90px;
    position: absolute;
}
.logo-burung{
    height:90px; 
    width: 90px;
    right: 55;
    position:absolute;
}
.title-logo-dispar{
    padding-left: 90px;
}
.title-logo-burung{
    text-align:right;
    padding-right: 75px;
}

/* rewrite */
.navbar-brand{
    padding:15px;
}