.logo-dispar{
    height: 90px;
    width: 70px;
    left:90px;
    position: absolute;
}
.logo-burung{
    height:90px; 
    width: 90px;
    right: 55;
    position:absolute;
}
.title-logo-dispar{
    padding-left: 90px;
    color:white;
}
.title-logo-dispar p{
    color:white;
}

.title-logo-burung{
    text-align:right;
    padding-right: 75px;
    color:white;
}
.title-logo-burung p{
    color:white;
}

/* start rewrite css theme */
.navbar-brand{
    padding:15px;
}

.bx-controls-direction{
    height:20px;
}

.bx-controls-direction a.bx-prev{
    height:205px;
}

.bx-controls-direction a.bx-next{
    height:205px;
}

/* end rewrite css theme */