@media (max-width: 576px){

    .logo-advertisement{
        background:#f7f7f7;
        background-repeat:no-repeat;
        background-image:var(--custom-bg-mobile);
    }

    .logo-dispar{
        width: 30px;
        position: absolute;
        transform: translate(-5px, 40px);
    }
    .logo-burung{
        width: 100px;
        position:absolute;
        transform: translate(50px, 55px);
    }
    .title-logo-dispar{
        /* padding-left: 90px; */
        color:white;
        text-shadow: 0px 1px #8A2BE2;
        transform: translate(30px, 20px);
    }
    .title-logo-dispar h2{
        color:white;
        font-size: 11px;
    }
    .title-logo-dispar p{
        color:white;
        font-size: 6px;
    }
    
    .title-logo-burung{
        text-align:right;
        padding-right: 75px;
        color:black;
        text-shadow: 0px 1px #8A2BE2;
    }
    .title-logo-burung p{
        color:black;
        font-size: 20px;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }

    section.heading-news {
        padding-top: 0px;
    }

}